@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a,
        #06b6d4
    );

    padding:30px;
}

.container{

    width:100%;

    max-width:1000px;

    background:rgba(255,255,255,0.1);

    border-radius:30px;

    padding:40px;

    backdrop-filter:blur(15px);

    box-shadow:
    0 8px 32px rgba(0,0,0,0.3);

    animation:fadeIn 1s ease;
}

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

h1{

    color:white;

    text-align:center;

    font-size:42px;

    margin-bottom:10px;
}

.subtitle{

    color:#dbeafe;

    text-align:center;

    margin-bottom:40px;

    font-size:18px;
}

.input-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;
}

select{

    padding:15px;

    border:none;

    border-radius:14px;

    background:rgba(255,255,255,0.15);

    color:white;

    font-size:15px;

    outline:none;

    transition:0.3s;
}

select:hover{

    background:rgba(255,255,255,0.22);

    transform:translateY(-2px);
}

button{

    width:100%;

    margin-top:35px;

    padding:18px;

    border:none;

    border-radius:16px;

    background:
    linear-gradient(
        90deg,
        #06b6d4,
        #2563eb
    );

    color:white;

    font-size:20px;

    font-weight:600;

    cursor:pointer;

    transition:0.3s;
}

button:hover{

    transform:scale(1.02);

    box-shadow:
    0 0 20px rgba(37,99,235,0.6);
}

.result-card{

    margin-top:30px;

    background:rgba(255,255,255,0.12);

    padding:25px;

    border-radius:20px;

    text-align:center;

    color:white;

    animation:pop 0.5s ease;
}

@keyframes pop{

    from{
        transform:scale(0.8);
        opacity:0;
    }

    to{
        transform:scale(1);
        opacity:1;
    }
}

.confidence{

    margin-top:10px;

    color:#7dd3fc;

    font-size:20px;

    font-weight:bold;
}

@media(max-width:768px){

    .input-grid{

        grid-template-columns:1fr;
    }

    h1{

        font-size:32px;
    }
}
